<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kunze.diansh.mapper.AddressMapper">

    <insert id="insertAddress" parameterType="org.kunze.diansh.entity.Address">
        insert into kz_address(id,user_id,consignee,consignee_sex,province,city,county,street,telphone,postcode,add_type,is_default,status)
        VALUES(#{id},#{userId},#{consignee},#{consigneeSex},#{province},#{city},#{county},#{street},#{telphone},#{postcode},#{addType},#{isDefault},#{status})
    </insert>

    <select id="selectAddress" resultType="org.kunze.diansh.entity.Address">
        select id,user_id,consignee,consignee_sex,province,city,county,street,telphone,postcode,add_type,is_default,`status`
        from kz_address where `status` = 0 and user_id = #{userID} order by is_default desc
    </select>

    <!-- 根据id查询地址信息   -->
    <select id="selectAddressByID" resultType="org.kunze.diansh.entity.Address">
        select id,user_id,consignee,consignee_sex,province,city,county,street,telphone,postcode,add_type,is_default,`status`
        from kz_address where `status` = 0 and id = #{id}
    </select>

    <update id="updateAddress" parameterType="org.kunze.diansh.entity.Address">
        update kz_address
        <trim prefix="set" suffixOverrides=",">
            <if test="address.consignee != null and address.consignee != ''">consignee=#{address.consignee},</if>
            <if test="address.consigneeSex != null and address.consigneeSex != ''">consignee_sex=#{address.consigneeSex},</if>
            <if test="address.province != null and address.province != ''">province=#{address.province},</if>
            <if test="address.city != null and address.city != ''">city=#{address.city},</if>
            <if test="address.county != null and address.county != ''">county=#{address.county},</if>
            <if test="address.street != null and address.street != ''">street=#{address.street},</if>
            <if test="address.telphone != null and address.telphone != ''">telphone=#{address.telphone},</if>
            <if test="address.postcode != null and address.postcode != ''">postcode=#{address.postcode},</if>
            <if test="address.addType != null and address.addType != ''">add_type=#{address.addType},</if>
            <if test="address.isDefault != null and address.isDefault != ''">is_default=#{address.isDefault}</if>
        </trim>
        where id = #{address.id}
    </update>

    <update id="updateDefaultByID" parameterType="java.lang.String">
        update kz_address set is_default = 1 where id = #{id} and user_id = #{userID}
    </update>

    <!-- 重置用户的所有地址状态为非默认 -->
    <update id="resetAddressDefault">
        update kz_address set is_default = 0 where user_id = #{userID}
    </update>

    <update id="deleteAddress">
        update kz_address set status = 1
        where id = #{id}
    </update>

    <!-- 统计某个用户的收货地址的数量 -->
    <select id="countByUid" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM KZ_ADDRESS WHERE USER_ID=#{userID}
    </select>
</mapper>