<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kunze.diansh.mapper.CategoryBrandMapper">


    <insert id="saveCategoryBrand">

        insert into kz_category_brand(category_id,brand_id)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.categoryId},#{item.brandId})
        </foreach>

    </insert>


    <delete id="updateCategoryBrand">
        delete from kz_category_brand where brand_id = #{brandId}
    </delete>


    <delete id="delCategoryBrand">
        delete from kz_category_brand
        where brand_id in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>
</mapper>