<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kunze.diansh.mapper.ChargeMapper">

    <insert id="saveCharge">
        insert into kz_charge(id,shop_id,service_charge,create_time,update_time)
        values (#{id},#{shopId},#{serviceCharge},NOW(),NOW())
    </insert>

    <update id="updateCharge">
        update kz_charge
        <trim prefix="set" suffixOverrides=",">

            <if test="serviceCharge!=null and serviceCharge != ''">
                service_charge = #{serviceCharge},
            </if>
            update_time = NOW()
        </trim>
        where shop_id = #{shopId}
    </update>

    <select id="selectCharge" resultType="Map">
        select id,service_charge from kz_charge
        where shop_id = #{shopId}
    </select>
</mapper>