<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kunze.diansh.mapper.DealInfoMapper">



    <select id="queryDealInfoList" resultType="org.kunze.diansh.entity.modelData.DealInfoModel">
        SELECT
            id,
            payment,
            ok_payment,
            ok_total,
            refund_payment,
            refund_total,
            total_payment,
            service_fee,
            occurrenceTime,
            service_change
        FROM
            kz_dealinfo
        <trim prefix="where" prefixOverrides="and">
            shop_id = #{shopId}
            <if test="dateFlag != null and dateFlag != ''">
                and date_flag = #{dateFlag}
            </if>
        </trim>

    </select>
</mapper>