<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kunze.diansh.mapper.OrderRecordMapper">
    <insert id="addOrderRecord">
        insert into kz_order_record(id,order_id,create_time,send_event,status,shop_id)
        values (#{id},#{orderId},NOW(),#{sendEvent},#{status},#{shopId})
    </insert>

    <select id="queryOrderRecord" resultType="Map">
        select create_time as 'sendTime',send_event as 'sendEvent'
        from kz_order_record
        where order_id = #{orderId} and status = '1'
        ORDER BY create_time DESC
    </select>

    <select id="queryOrderRecordTotal" resultType="Map">
        SELECT id,
        date_format(
        create_time,
        '%m-%d %H:%i:%s'
        ) AS 'menuTime',
        send_event,
        IF (
        `status` = 1,
        '订单消息',
        '库存预警'
        ) AS 'status'
        FROM kz_order_record
        where shop_id = #{shopId}
        ORDER BY create_time DESC
    </select>
</mapper>