<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kunze.diansh.mapper.OrderMapper">


    <!-- 插入订单数据   -->
    <insert id="insertOrder" parameterType="org.kunze.diansh.entity.Order">
        INSERT INTO kz_order ( order_id,shop_id,address_id,amount_payment, payment, pick_up, post_free, status, create_time, update_time, payment_time,
          consign_time, end_time, close_time, shipping_name, shipping_code, user_id, buyer_message, buyer_nick, buyer_rete )
        VALUES
        (#{orderId},
        #{shopId},
        #{addressId},
        #{amountPayment},
        #{payment},
        #{pickUp},
        #{postFree},
        #{status},
        #{createTime},
        #{updateTime},
        #{paymentTime},
        #{consignTime},
        #{endTime},
        #{closeTime},
        #{shippingName},
        #{shippingCode},
        #{userID},
        #{buyerMessage},
        #{buyerNick},
        #{buyerRate});
    </insert>

    <!-- 插入订单详情数据   -->
    <insert id="insertOrderDetail" parameterType="org.kunze.diansh.entity.OrderDetail">
        insert into kz_order_detail(id,order_id,sku_id,num,title,own_spec,price,image)
        values(#{id},#{orderId},#{skuId},#{num},#{title},#{ownSpec},#{price},#{image});
    </insert>

    <!-- 查询某个超市当天的订单数量   -->
    <select id="selectShopOrderNum" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(1) from kz_order o
        LEFT JOIN kz_shop s ON o.shop_id = s.id
        where  to_days(o.create_time) = to_days(now())
        and shop_id = #{shopId}
    </select>

    <!-- 查询订单数据 根据订单状态   -->
    <select id="selectOrderByStatus" resultType="org.kunze.diansh.entity.Order">
        select order_id,shop_id,address_id,amount_payment,payment,pick_up,post_free,`status`,create_time,update_time,
        payment_time,consign_time,end_time,close_time,shipping_name,shipping_code,user_id,buyer_message,buyer_nick,buyer_rete
        from kz_order where user_id = #{userID} and shop_id = #{shopID}
        <trim prefix="and" prefixOverrides="and">
            <if test="status != null and status != ''">
                and `status` = #{status}
            </if>
        </trim>
        order by `status` asc
    </select>

    <!-- 查询订单数据 根据订单ID   -->
    <select id="selectOrderById" resultType="org.kunze.diansh.entity.Order">
        select order_id,shop_id,address_id,amount_payment,payment,pick_up,post_free,`status`,create_time,update_time,
        payment_time,consign_time,end_time,close_time,shipping_name,shipping_code,user_id,buyer_message,buyer_nick,buyer_rete
        from kz_order where shop_id = #{shopID} and order_id = #{orderId}
        <trim prefix="and" prefixOverrides="and">
            <if test="userID != null and userID !=''">
                and user_id = #{userID}
            </if>
        </trim>
    </select>

    <!-- 根据订单id查询订单详细信息   -->
    <select id="selectOrderDetailById" resultType="org.kunze.diansh.entity.OrderDetail">
        select id,order_id,sku_id,num,title,own_spec,price,image from kz_order_detail
        where order_id = #{orderId}
    </select>


    <update id="updateOrderStatus" >
        update kz_order
        <trim prefix="set" suffixOverrides=",">
            status = #{orderStatus},
            <if test="orderStatus == 2">
                payment_time = NOW(),
            </if>
            update_time = NOW()
        </trim>
        where order_id = #{orderId}
    </update>

    <select id="selectById" resultType="org.kunze.diansh.entity.Order">
        select order_id,shop_id,address_id,amount_payment,payment,pick_up,status,create_time,update_time,
        payment_time,consign_time,end_time,user_id,post_free,buyer_message
         from kz_order
        where order_id = #{orderId}
    </select>

    <select id="selectOrder" resultType="org.kunze.diansh.entity.modelData.OrderModel">
        SELECT o.order_id,o.payment,address.consignee,address.consignee_sex,address.telphone,o.create_time,o.`status`,o.pick_up,o.buyer_message,o.end_time FROM kz_order o
        LEFT JOIN kz_address  address ON o.address_id = address.id
        <trim prefix="where" prefixOverrides="and">
            o.shop_id = #{shopId}
            <if test="orderId != null and orderId != ''">
                and  o.order_id = #{orderId}
            </if>
            <if test="status != null and status != ''">
                and o.status = #{status}
            </if>
        </trim>
        order by o.create_time desc
    </select>
</mapper>