<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kunze.diansh.mapper.ShopMapper">
    <select id="selectByKey" resultType="org.kunze.diansh.entity.KzShop">
         select shop.id,shop_name,create_time,status,reg.`name` as 'province',reg1.`name` as 'city',reg2.`name` as 'area' ,shop_address,image
        from kz_shop shop
        LEFT JOIN kz_region reg ON shop.province = reg.id
        LEFT JOIN kz_region reg1 ON shop.city = reg1.id
        LEFT JOIN kz_region reg2 ON shop.area = reg2.id
        where shop.id = #{shopId} and status = '0'
    </select>


    <select id="queryShopList" resultType="org.kunze.diansh.controller.vo.ShopVo">
        select shop.id,shop_name,create_time,province,city,area,shop_address,CONCAT(reg.`name`,reg1.`name`,reg2.`name`,shop_address)as 'addressTotal',image,CONCAT(start_business,'-',end_business) as 'businessHours',person_charge,telphone,idenitiy,update_time,post_free,shop.is_flag
        from kz_shop shop
        LEFT JOIN kz_region reg ON shop.province = reg.id
        LEFT JOIN kz_region reg1 ON shop.city = reg1.id
        LEFT JOIN kz_region reg2 ON shop.area = reg2.id
        <trim prefix="where" prefixOverrides="and">
            shop.status = '0'
            <if test="isFlag != null and isFlag != ''">
                and shop.is_flag = #{isFlag}
            </if>
            <if test="shopName != null and shopName != ''">
                and  shop_name like CONCAT('%',#{shopName},'%')
            </if>
            <if test="shopAddress != null and shopAddress != '' ">
                and shop_address like CONCAT('%',#{shopAddress},'%')
            </if>
            <if test="province != null and province != ''">
                and province = #{province}
            </if>
            <if test="city != null and city != ''">
                and city = #{city}
            </if>
            <if test="area != null and area != ''">
                and area = #{area}
            </if>
            <if test="id != null and id != ''">
                and shop.id = #{id}
            </if>
        </trim>
        order by update_time desc,create_time desc
    </select>

    <insert id="insertShop">
        insert into kz_shop(id,shop_name,create_time,province,city,area,shop_address,image,start_business,end_business,person_charge,telphone,idenitiy,update_time,is_flag)
        values (#{id},#{shopName},NOW(),#{province},#{city},#{area},#{shopAddress},#{image},#{startBusiness},#{endBusiness},#{personCharge},#{telphone},#{idenitiy},NOW(),#{isFlag})
    </insert>

    <update id="updateShop">
        update kz_shop
        <trim prefix="set" suffixOverrides=",">
            update_time = NOW(),
            <if test="shopName != null and shopName != ''">
                shop_name = #{shopName},
            </if>
            <if test="shopAddress != null and shopAddress != ''">
                shop_address = #{shopAddress},
            </if>
            <if test="image != null and image != ''">
                image = #{image},
            </if>
            <if test="startBusiness != null and startBusiness != ''">
                start_business = #{startBusiness},
            </if>
            <if test="endBusiness != null and endBusiness != ''">
                end_business = #{endBusiness},
            </if>
            <if test="personCharge != null and personCharge != ''">
                person_charge = #{personCharge},
            </if>
            <if test="telphone != null and telphone != ''">
                telphone = #{telphone},
            </if>
            <if test="idenitiy != null and idenitiy != ''">
                idenitiy = #{idenitiy},
            </if>
            <if test="postFree != null and postFree >= 0">
                post_free = #{postFree},
            </if>
            <if test="province != null and province != ''">
                province = #{province},
            </if>
            <if test="city != null and city != ''">
                city = #{city},
            </if>
            <if test="area != null and area >= 0">
                area = #{area},
            </if>
            <if test="isFlag != null and isFlag != ''">
                is_flag = #{isFlag},
            </if>
        </trim>
        where id = #{id}
    </update>


    <select id="selectStoreLeaderboard" resultType="Map">
        SELECT shop.id,shop.shop_name as 'shopName',SUM(ord.payment) as 'payment',IFNULL(charge.service_charge,'0') as 'charge',
        okPayment,ok.okTotal,refund.refundPayment,refund.refundTotal
        FROM kz_shop shop
        LEFT JOIN kz_order ord ON shop.id = ord.shop_id AND (ord.`status` = '5' or ord.`status` = '7')
        <if test="choiceTime == 1">
           AND (to_days(ord.end_time) = to_days(now()) or to_days(ord.refund_time) = to_days(now()))
        </if>
        <if test="choiceTime == 2">
            AND (YEARWEEK(date_format(ord.end_time,'%Y-%m-%d' )) = YEARWEEK(now()) or YEARWEEK(date_format(ord.refund_time,'%Y-%m-%d' )) = YEARWEEK(now()))
        </if>
        <if test="choiceTime == 3">
            AND (DATE_FORMAT(ord.end_time,'%Y%m')= DATE_FORMAT(CURDATE(),'%Y%m') OR DATE_FORMAT(ord.refund_time,'%Y%m')= DATE_FORMAT(CURDATE(),'%Y%m'))
        </if>
        <if test="choiceTime == 4">
            AND (YEAR(ord.end_time)= YEAR(NOW()) or YEAR(ord.refund_time)= YEAR(NOW()))
        </if>
        LEFT JOIN kz_charge charge ON shop.id = charge.shop_id
        LEFT JOIN (
            SELECT IFNULL(SUM(payment),0) as 'okPayment',count(1) as 'okTotal',o.shop_id FROM kz_order o WHERE  `status`= '5'
            <if test="choiceTime == 1">
                AND to_days(o.end_time) = to_days(now())
            </if>
            <if test="choiceTime == 2">
                AND YEARWEEK(date_format(o.end_time,'%Y-%m-%d' )) = YEARWEEK(now())
            </if>
            <if test="choiceTime == 3">
                AND DATE_FORMAT(o.end_time,'%Y%m')= DATE_FORMAT(CURDATE(),'%Y%m')
            </if>
            <if test="choiceTime == 4">
                AND YEAR(o.end_time)= YEAR(NOW())
            </if>
            GROUP BY o.shop_id
        ) ok ON shop.id = ok.shop_id
        LEFT JOIN
        (
            SELECT IFNULL(SUM(payment),0) as 'refundPayment',count(1) as 'refundTotal',o.shop_id FROM kz_order o WHERE `status` = '7'
            <if test="choiceTime == 1">
                AND to_days(o.end_time) = to_days(now())
            </if>
            <if test="choiceTime == 2">
                AND YEARWEEK(date_format(o.end_time,'%Y-%m-%d' )) = YEARWEEK(now())
            </if>
            <if test="choiceTime == 3">
                AND DATE_FORMAT(o.end_time,'%Y%m')= DATE_FORMAT(CURDATE(),'%Y%m')
            </if>
            <if test="choiceTime == 4">
                AND YEAR(o.end_time)= YEAR(NOW())
            </if>
            GROUP BY o.shop_id
        ) refund ON shop.id = refund.shop_id
        <trim prefix="where" prefixOverrides="and">
            shop.`status`='0'
            <if test="shopName != null and shopName != ''">
              AND  shop.shop_name like CONCAT('%',#{shopName},'%')
            </if>
        </trim>
        GROUP BY shop.id
        ORDER BY payment DESC
    </select>


    <select id="selectStoreByShop" resultType="org.kunze.diansh.entity.modelData.MonthMenuModel">
        SELECT
            sum( CASE WHEN MONTH ( ord.end_time )=1 THEN ord.payment   ELSE 0 END ) AS january,
            sum( CASE WHEN MONTH ( ord.end_time )=2 THEN ord.payment   ELSE 0 END ) AS february,
            sum( CASE WHEN MONTH ( ord.end_time )=3 THEN ord.payment   ELSE 0 END ) AS march,
            sum( CASE WHEN MONTH ( ord.end_time )=4 THEN ord.payment   ELSE 0 END ) AS april,
            sum( CASE WHEN MONTH ( ord.end_time )=5 THEN ord.payment   ELSE 0 END ) AS may,
            sum( CASE WHEN MONTH ( ord.end_time )=6 THEN ord.payment   ELSE 0 END ) AS june,
            sum( CASE WHEN MONTH ( ord.end_time )=7 THEN ord.payment   ELSE 0 END ) AS july,
            sum( CASE WHEN MONTH ( ord.end_time )=8 THEN ord.payment   ELSE 0 END ) AS august,
            sum( CASE WHEN MONTH ( ord.end_time )=9 THEN ord.payment   ELSE 0 END ) AS september,
            sum( CASE WHEN MONTH ( ord.end_time )=10 THEN ord.payment   ELSE 0 END ) AS october,
            sum( CASE WHEN MONTH ( ord.end_time )=11 THEN ord.payment   ELSE 0 END ) AS november,
            sum( CASE WHEN MONTH ( ord.end_time )=12 THEN ord.payment   ELSE 0 END ) AS december
         FROM kz_shop shop
         LEFT JOIN kz_order ord ON shop.id = ord.shop_id AND ord.`status` = '5'
         <trim prefix="WHERE" prefixOverrides="AND">
            <if test="year != null and year != ''">
              and   YEAR ( ord.end_time ) = #{year}
            </if>
            <if test="shopId != null and shopId != ''">
                AND shop.id = #{shopId}
            </if>
         </trim>
    </select>


    <select id="selectOrderLeader" resultType="Map">
        SELECT count(todays.order_id) as 'todaysOrder',count(total.order_id) as 'totalOrder' FROM kz_order o
        LEFT JOIN (
        SELECT order_id
         FROM kz_order
        WHERE `status` = '5'
        and to_days(end_time) = to_days(now())
        ) todays ON o.order_id = todays.order_id
        LEFT JOIN (
        SELECT order_id
         FROM kz_order
        WHERE `status` = '5'
        ) total ON o.order_id = total.order_id
        <trim prefix="where" prefixOverrides="and">
            <if test="shopId != null and shopId != ''">
                 o.shop_id = #{shopId}
            </if>
        </trim>
    </select>


    <select id="selectOrderLeaders" resultType="Map">
            select a.click_date as 'clickDate',ifnull(b.count,0) as 'counts'
            from (
                SELECT curdate() as click_date
                union all
                SELECT date_sub(curdate(), interval 1 day) as click_date
                union all
                SELECT date_sub(curdate(), interval 2 day) as click_date
                union all
                SELECT date_sub(curdate(), interval 3 day) as click_date
                union all
                SELECT date_sub(curdate(), interval 4 day) as click_date
                union all
                SELECT date_sub(curdate(), interval 5 day) as click_date
                union all
                SELECT date_sub(curdate(), interval 6 day) as click_date
                union all
                SELECT date_sub(curdate(), interval 7 day) as click_date
                union all
                SELECT date_sub(curdate(), interval 8 day) as click_date
                union all
                SELECT date_sub(curdate(), interval 9 day) as click_date
                union all
                SELECT date_sub(curdate(), interval 10 day) as click_date
            ) a left join (
                  select date(end_time) as datetime, count(*) as count
                  from kz_order WHERE  `status` = '5'
                  <if test="shopId != null and shopId != ''">
                    AND  shop_id = #{shopId}
                  </if>
                  group by date(end_time)
            ) b on a.click_date = b.datetime
            ORDER BY date(clickDate) DESC
    </select>

    <select id="selectSales" resultType="org.kunze.diansh.entity.modelData.SalesModel">
        SELECT total.total,lastWeek.lastWeek,`week`.`week`,today.today,yestToday.yestToday FROM
        (
            SELECT IFNULL(SUM(o.payment),0) as 'total' FROM kz_order o
            where o.`status` = '5'
            <if test="shopId != null and shopId != ''">
                AND o.shop_id = #{shopId}
            </if>
        ) total,
        (
            SELECT IFNULL(SUM(o.payment),0) as 'lastWeek'  FROM kz_order o
            WHERE o.`status` = '5' AND YEARWEEK(date_format(o.end_time,'%Y-%m-%d')) =YEARWEEK(now())-1
            <if test="shopId != null and shopId != ''">
                AND o.shop_id = #{shopId}
            </if>
        ) lastWeek,
        (
            SELECT IFNULL(SUM(o.payment),0) as 'week' FROM kz_order o
            WHERE o.`status` = '5' AND YEARWEEK(date_format(o.end_time,'%Y-%m-%d')) =YEARWEEK(now())
            <if test="shopId != null and shopId != ''">
                AND o.shop_id = #{shopId}
            </if>
        ) `week`,
        (
            SELECT IFNULL(SUM(o.payment),0) as 'today'  FROM kz_order o
            WHERE o.`status` = '5' AND to_days(o.end_time) = to_days(now())
            <if test="shopId != null and shopId != ''">
                AND o.shop_id = #{shopId}
            </if>
        ) today,
        (
            SELECT IFNULL(SUM(o.payment),0) as 'yestToday' FROM kz_order o
            WHERE o.`status` = '5' AND TO_DAYS(NOW( ) ) - TO_DAYS(o.end_time) &lt;= 1
            <if test="shopId != null and shopId != ''">
               AND o.shop_id = #{shopId}
            </if>
        ) yestToday
    </select>

    <select id="selectMonthMoney" resultType="Map">
        SELECT * FROM (
         SELECT IFNULL(SUM(payment),0) as 'payment',IFNULL(SUM(o.post_free),0) as 'postFree' FROM kz_order o WHERE shop_id = #{shopId} AND (`status`= '5' OR `status` = '7' ) AND
        (DATE_FORMAT(o.end_time,'%Y%m')= DATE_FORMAT(CURDATE(),'%Y%m') OR DATE_FORMAT(o.refund_time,'%Y%m')= DATE_FORMAT(CURDATE(),'%Y%m'))
				) total,
				(
        SELECT IFNULL(SUM(payment),0) as 'okPayment',count(1) as 'okTotal' FROM kz_order o WHERE shop_id = #{shopId} AND `status`= '5' AND
        DATE_FORMAT(o.end_time,'%Y%m')= DATE_FORMAT(CURDATE(),'%Y%m')
				) ok,
				(
        SELECT IFNULL(SUM(payment),0) as 'refundPayment',count(1) as 'refundTotal' FROM kz_order o WHERE shop_id = #{shopId} AND `status` = '7' AND
        DATE_FORMAT(o.refund_time,'%Y%m')= DATE_FORMAT(CURDATE(),'%Y%m')
				) refund
    </select>

    <!-- 查询上个月的汇总信息 -->
    <select id="selectOldMonthMoney" resultType="java.util.HashMap" parameterType="java.lang.String">
        SELECT shop.id as 'shopId',
            CAST(IFNULL(SUM(ord.post_free),"0") AS CHAR(1000) CHARACTER SET utf8	) as 'postFree' ,
            CAST(IFNULL(SUM(ord.payment),"0") AS CHAR(1000) CHARACTER SET utf8	) as 'payment',
            IFNULL(charge.service_charge,'0') as 'charge',
            CAST(IFNULL(ok.okPayment,"0") AS CHAR(1000) CHARACTER SET utf8	) as 'okPayment',
            CAST(IFNULL(ok.okTotal,"0") AS CHAR(1000) CHARACTER SET utf8) AS 'okTotal',
            CAST(IFNULL(refund.refundPayment,"0") AS CHAR(1000) CHARACTER SET utf8	) as 'refundPayment',
            CAST(IFNULL(refund.refundTotal,"0") AS CHARACTER) as 'refundTotal',
            concat(date_format(now(),'%Y'),'-',date_format(now(),'%m')-1) as `occurrenceTime`
            FROM kz_shop shop
            LEFT JOIN kz_order ord ON shop.id = ord.shop_id AND (ord.`status` = '5' or ord.`status` = '7')
            AND	((PERIOD_DIFF( date_format( now( ) , '%Y%m' ) , date_format( ord.end_time, '%Y%m' ) ) =1) OR
            (PERIOD_DIFF( date_format( now( ) , '%Y%m' ) , date_format( ord.refund_time, '%Y%m' ) ) =1))
            LEFT JOIN kz_charge charge ON shop.id = charge.shop_id
            LEFT JOIN (
            SELECT IFNULL(SUM(payment),0) as 'okPayment',count(1) as 'okTotal',o.shop_id FROM kz_order o WHERE  `status`= '5'
            and (PERIOD_DIFF( date_format( now( ) , '%Y%m' ) , date_format( o.end_time, '%Y%m' ) ) =1)
            GROUP BY o.shop_id
            ) ok ON shop.id = ok.shop_id
            LEFT JOIN
            (
            SELECT IFNULL(SUM(payment),0) as 'refundPayment',count(1) as 'refundTotal',o.shop_id FROM kz_order o WHERE `status` = '7'
            and (PERIOD_DIFF( date_format( now( ) , '%Y%m' ) , date_format( o.refund_time, '%Y%m' ) ) =1)
            GROUP BY o.shop_id
            ) refund ON shop.id = refund.shop_id
            where
            shop.`status`='0'
            and shop.id = #{shopId}
            GROUP BY shop.id
            ORDER BY payment DESC
    </select>

    <!-- 查询上一日的汇总信息 -->
    <select id="selectDaysMoney" resultType="java.util.HashMap">
        SELECT shop.id as 'shopId',
            CAST(IFNULL(SUM(ord.post_free),"0") AS CHAR(1000) CHARACTER SET utf8	) as 'postFree' ,
            CAST(IFNULL(SUM(ord.payment),"0") AS CHAR(1000) CHARACTER SET utf8	) as 'payment',
            IFNULL(charge.service_charge,'0') as 'charge',
            CAST(IFNULL(ok.okPayment,"0") AS CHAR(1000) CHARACTER SET utf8	) as 'okPayment',
            CAST(IFNULL(ok.okTotal,"0") AS CHAR(1000) CHARACTER SET utf8) AS 'okTotal',
            CAST(IFNULL(refund.refundPayment,"0") AS CHAR(1000) CHARACTER SET utf8	) as 'refundPayment',
            CAST(IFNULL(refund.refundTotal,"0") AS CHARACTER) as 'refundTotal',
            DATE_FORMAT(DATE_SUB(NOW(),INTERVAL 1 DAY),'%Y-%m-%d') as 'occurrenceTime'
            FROM kz_shop shop
            LEFT JOIN kz_order ord ON shop.id = ord.shop_id AND (ord.`status` = '5' or ord.`status` = '7')
            AND	((TO_DAYS( NOW() ) - TO_DAYS(ord.end_time) = 1) OR (TO_DAYS( NOW() ) - TO_DAYS(ord.refund_time) = 1))
            LEFT JOIN kz_charge charge ON shop.id = charge.shop_id
            LEFT JOIN (
            SELECT IFNULL(SUM(payment),0) as 'okPayment',count(1) as 'okTotal',o.shop_id FROM kz_order o WHERE  `status`= '5'
            and (TO_DAYS( NOW() ) - TO_DAYS(o.create_time) = 1)
            GROUP BY o.shop_id
            ) ok ON shop.id = ok.shop_id
            LEFT JOIN
            (
            SELECT IFNULL(SUM(payment),0) as 'refundPayment',count(1) as 'refundTotal',o.shop_id FROM kz_order o WHERE `status` = '7'
            and (TO_DAYS( NOW() ) - TO_DAYS(o.refund_time) = 1)
            GROUP BY o.shop_id
            ) refund ON shop.id = refund.shop_id
            where
            shop.`status`='0'
            GROUP BY shop.id
            ORDER BY payment DESC
    </select>

    <select id="selectToDayMoney" resultType="Map">

        SELECT * FROM (
         SELECT IFNULL(SUM(payment),0) as 'payment',IFNULL(SUM(o.post_free),0) as 'postFree' FROM kz_order o WHERE shop_id = #{shopId} AND (`status`= '5' OR `status` = '7' ) AND
        (to_days(o.end_time) = to_days(now()) OR to_days(o.refund_time) = to_days(now()))
				) total,
				(
        SELECT IFNULL(SUM(payment),0) as 'okPayment',count(1) as 'okTotal' FROM kz_order o WHERE shop_id = #{shopId} AND `status`= '5' AND
        to_days(o.end_time) = to_days(now())
				) ok,
				(
        SELECT IFNULL(SUM(payment),0) as 'refundPayment',count(1) as 'refundTotal' FROM kz_order o WHERE shop_id = #{shopId} AND `status` = '7' AND
        to_days(o.refund_time) = to_days(now())
				) refund

    </select>

    <select id="selectTotalSpuNum" resultType="String">
        SELECT COUNT(1) FROM kz_spu spu WHERE spu.shop_id = #{shopId} AND spu.is_flag = '0'
    </select>

    <select id="selectTotalOrder" resultType="String">
        SELECT COUNT(1) FROM kz_order o WHERE shop_id = #{shopId} AND (`status`='3' OR `status` = '4' OR `status` = '5')
    </select>


    <select id="selectOrderstatistics" resultType="Map">
        SELECT pending,completed FROM (
        SELECT COUNT(1) AS 'pending' FROM kz_order o WHERE o.`status` = '2' AND o.shop_id = #{shopId}
        ) o1,
        (
        SELECT COUNT(1) AS 'completed' FROM kz_order o WHERE o.`status` = '5' AND o.shop_id = #{shopId}
        ) o2

    </select>

    <select id="selectWarehouseStatistics" resultType="Map">
        SELECT notsheif,stock FROM (
        SELECT COUNT(1) AS 'notsheif' FROM kz_spu spu WHERE spu.saleable = '0' AND spu.shop_id = #{shopId}  and is_flag = '0'
        ) notsheif,
        (
        SELECT COUNT(1) AS 'stock' FROM kz_spu spu
        LEFT JOIN kz_sku sku ON spu.id = sku.spu_id
        LEFT JOIN kz_stock stock ON sku.id = stock.sku_id
        WHERE stock.stock &lt;=10 AND spu.shop_id = #{shopId} and  sku.`enable` = '1'  and is_flag = '0'
        ) stock
    </select>

    <select id="selectSevenDeal" resultType="Map">
        select a.click_date as 'clickDate',IFNULL(b.count,0) as 'count'
        from (
            SELECT DATE_FORMAT(curdate(),'%m-%d') as click_date
            union all
            SELECT DATE_FORMAT(date_sub(curdate(), interval 1 day),'%m-%d') as click_date
            union all
            SELECT DATE_FORMAT(date_sub(curdate(), interval 2 day),'%m-%d') as click_date
            union all
            SELECT DATE_FORMAT(date_sub(curdate(), interval 3 day),'%m-%d') as click_date
            union all
            SELECT DATE_FORMAT(date_sub(curdate(), interval 4 day),'%m-%d') as click_date
            union all
            SELECT DATE_FORMAT(date_sub(curdate(), interval 5 day),'%m-%d') as click_date
            union all
            SELECT DATE_FORMAT(date_sub(curdate(), interval 6 day),'%m-%d') as click_date
        ) a left join (
          select DATE_FORMAT(end_time,'%m-%d') as datetime, count(*) as count
          from kz_order WHERE `status` = '5' AND shop_id = #{shopId}
          group by date(end_time)

        ) b on a.click_date = b.datetime
        ORDER BY  a.click_date desc
    </select>

    <delete id="delShops">
        update kz_shop set status = '1'
        where id in
        <foreach collection="delShop" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <!-- 查询超市id的集合 -->
    <select id="selectShopIds" resultType="java.lang.String">
        SELECT ID FROM KZ_SHOP
    </select>
</mapper>