<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kunze.diansh.mapper.ShopMapper">
    <select id="selectByKey" resultType="org.kunze.diansh.mapper.ShopMapper">
        select id,shop_name,create_time,status,shop_address,image,business_hours
        from kz_shop
        where id = #{shopId} and status = '0'
    </select>
</mapper>