<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kunze.diansh.mapper.SkuMapper">

    <insert id="saveSku">
        insert into kz_sku(id,spu_id,title,images,new_price,price,indexes,own_spec,create_time,last_update_time,update_name,shop_id)
        values
        <foreach collection="skuList" item="item" separator=",">
            (#{item.id},#{item.spuId},#{item.title},#{item.images},#{item.newPrice},#{item.price},#{item.indexes},#{item.ownSpec},
            NOW(),NOW(),#{item.updateName},#{item.shopId})
        </foreach>
    </insert>

    <update id="updateSku">
        <foreach collection="skuList" item="sku" separator=";">
            update kz_sku
            <set>
                <if test="sku.spuId !=null and sku.spuId != ''">spu_id=#{sku.spuId},</if>
                <if test="sku.title !=null and sku.title != ''">title=#{sku.title},</if>
                <if test="sku.images !=null and sku.images != ''">images=#{sku.images},</if>
                <if test="sku.newPrice !=null and sku.newPrice != ''">new_price=#{sku.newPrice},</if>
                <if test="sku.price !=null and sku.price != ''">price=#{sku.price},</if>
                <if test="sku.indexes !=null and sku.indexes != ''">indexes=#{sku.indexes},</if>
                <if test="sku.ownSpec !=null and sku.ownSpec != ''">own_spec=#{sku.ownSpec},</if>
                <if test="sku.enable !=null and sku.enable != ''">enable=#{sku.enable},</if>
                <if test="sku.lastUpdateTime !=null and sku.lastUpdateTime != ''">last_update_time=NOW(),</if>
                <if test="sku.shopId !=null and sku.shopId != ''">shop_id=#{sku.shopId},</if>
                <if test="sku.updateName !=null and sku.updateName != ''">update_name=#{sku.updateName}</if>
            </set>
            where id = #{sku.id}
        </foreach>

    </update>

    <select id="querySkuById" resultType="org.kunze.diansh.entity.Sku">
        SELECT
	id,
	sku.spu_id,
	title,
	images,
	CASE sku.is_features
	WHEN '1' THEN
	feat.features_price
	ELSE
	sku.new_price
	END AS 'newPrice',
	price,
	indexes,
	own_spec,
	`enable`,
	sku.create_time,
	last_update_time,
	sku.shop_id,
	update_name,
	CASE sku.is_features
	WHEN '1' THEN
	'特卖'
	ELSE
	''
	END AS 'isFeatures'
FROM
	kz_sku sku
LEFT JOIN kz_spu_features feat ON sku.id = feat.sku_id
WHERE
	`enable` = 1
AND sku.spu_id = #{id}
    </select>

    <!--查询商品基本信息 通过skuid-->
    <select id="querySkuInfoById"  resultType="org.kunze.diansh.entity.Sku">
        select *
        from kz_sku where `enable`='1' and id = #{id}
    </select>

    <select id="querySkuBySpuId" resultType="org.kunze.diansh.entity.Sku">
      select id,sku.spu_id,title,images,new_price,
    CASE sku.is_features
	WHEN '1' THEN
	feat.features_price
	ELSE
	sku.new_price
	END AS 'newPrice',
	price,
      indexes,own_spec,`enable`,sku.create_time,last_update_time,sku.shop_id,update_name,
      	CASE sku.is_features
	WHEN '1' THEN
	'特卖'
	ELSE
	''
	END AS 'isFeatures',
	CASE sku.is_features
	WHEN '1' THEN
	feat.features_stock
	ELSE
	stock.stock
	END AS 'stock'
        from kz_sku sku
        LEFT JOIN kz_spu_features feat ON sku.id = feat.sku_id
        LEFT JOIN kz_stock stock ON sku.id = stock.sku_id
        where `enable`=1 and sku.spu_id = #{spuId}
    </select>

    <!-- 查询商品展示的详细信息 通过spuId -->
    <select id="selectSkuInfoBySpuId" parameterType="java.lang.String" resultType="java.util.HashMap">
        SELECT
        SKU.ID,
        SKU.SPU_ID,
        SKU.TITLE,
        SKU.IMAGES,
        SKU.INDEXES,
        SKU.OWN_SPEC,
        IFNULL(SKU.NEW_PRICE,'0') as NEW_PRICE,
	    IFNULL(SKU.PRICE,'0') as PRICE,
        KSD.PACKING_LIST,
        KSD.AFTER_SERVICE,
        KSD.DESCRIPTION,
        KS.STOCK,
        SPU.CID1,
        SPU.CID2,
        SPU.CID3,
        BRAND_ID,
        KSD.specifications
        FROM
        KZ_SKU SKU
        LEFT JOIN KZ_SPU SPU ON SKU.SPU_ID = SPU.ID
        LEFT JOIN KZ_SPU_DETAIL KSD ON SPU.ID = KSD.SPU_ID
        LEFT JOIN KZ_STOCK KS ON SKU.ID = KS.SKU_ID
        WHERE
        `ENABLE` = 1
        AND SKU.SPU_ID = #{spuId}
    </select>


    <select id="queryNotFeatSku" resultType="org.kunze.diansh.entity.Sku">
        select id,title,own_spec from kz_sku
        where is_features = '0' and spu_id = #{spuId}
    </select>

    <update id="delSku">
        update kz_sku set enable = '0' where spu_id in
        <foreach collection="spuList" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>

    <!-- 批量获取商品信息 通过orderDetail中的skuId -->
    <select id="getSkusByOrder" resultType="org.kunze.diansh.entity.Sku">
        SELECT * FROM KZ_SKU SKU WHERE SKU.`ENABLE` = '1'
        AND ID IN
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item.skuId}
        </foreach>
    </select>
</mapper>