<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kunze.diansh.mapper.SpuMapper">
    <select id="qrySpuList" resultType="org.kunze.diansh.entity.modelData.SpuModel">

        select spu.id,spu.title,sub_title,spu.saleable,CONCAT(cate1.`name`,'/',cate2.`name`,'/',cate3.`name`) as 'cName',br.`name` AS 'bName',
        spu.create_time,spu.last_update_time,spu.update_name,spu.images,spu.image
         from kz_spu spu
        LEFT JOIN kz_category cate1 ON spu.cid1 = cate1.id  and cate1.is_flag='0'
        LEFT JOIN kz_category cate2 ON spu.cid2 = cate2.id   and cate2.is_flag='0'
        LEFT JOIN kz_category cate3 ON spu.cid3 = cate3.id   and cate3.is_flag='0'
        LEFT JOIN kz_brand br ON spu.brand_id = br.id and br.is_flag = '0'
        LEFT JOIN kz_shop shop ON spu.shop_id = shop_id
        <trim prefix="where" prefixOverrides="and">
            spu.is_flag = '0'
            <if test="shopId != null and shopId != ''">
                and shop_id = #{shopId}
            </if>
            <if test="title != null and title != '' ">
               and title like CONCAT('%',#{title},'%')
            </if>
            <if test="saleable != null and saleable != '' ">
               and saleable = #{saleable}
            </if>
            <if test="cid3 != null and cid3 != '' ">
                and cid3 = #{cid3}
            </if>
            <if test="brandId != null and brandId != '' ">
                and brand_id = #{brandId}
            </if>
        </trim>
        GROUP BY spu.id
        ORDER BY spu.last_update_time DESC,spu.create_time DESC
    </select>

    <select id="qrySpuLists" resultType="org.kunze.diansh.entity.Spu">

        select spu.id,spu.title,sub_title,spu.saleable,cid1,cid2,cid3,spu.brand_id,
        spu.create_time,spu.last_update_time,spu.update_name,images,image
        from kz_spu spu
        LEFT JOIN kz_category cate1 ON spu.cid1 = cate1.id  and cate1.is_flag='0'
        LEFT JOIN kz_category cate2 ON spu.cid2 = cate2.id   and cate2.is_flag='0'
        LEFT JOIN kz_category cate3 ON spu.cid3 = cate3.id   and cate3.is_flag='0'
        LEFT JOIN kz_brand br ON spu.brand_id = br.id and br.is_flag = '0'
        LEFT JOIN kz_shop shop ON spu.shop_id = shop_id
        <trim prefix="where" prefixOverrides="and">
            spu.is_flag = '0'
            <if test="shopId != null and shopId != ''">
                and shopId = #{shopId}
            </if>
            <if test="title != null and title != '' ">
                and title like CONCAT('%',#{title},'%')
            </if>
            <if test="saleable != null and saleable != '' ">
                and saleable = #{saleable}
            </if>
            <if test="cid3 != null and cid3 != '' ">
                and cid3 = #{cid3}
            </if>
            <if test="brandId != null and brandId != '' ">
                and brand_id = #{brandId}
            </if>
        </trim>
        ORDER BY spu.last_update_time DESC,spu.create_time DESC
    </select>

    <select id="qrySpuBrand" resultType="org.kunze.diansh.controller.vo.SpuBrandVo">
            select id as 'key',name as 'brandName' from kz_brand
    </select>

    <select id="qrySpuBrands" resultType="org.kunze.diansh.controller.vo.SpuBrandVo">
        select brand_id as 'key',`name` as 'brandName' from kz_brand br
        LEFT JOIN kz_category_brand cb on br.id = cb.brand_id
        <trim prefix="where" prefixOverrides="and">
            <if test="categoryId != null and categoryId != '' ">
                cb.category_id = #{categoryId}
            </if>
        </trim>
    </select>

    <insert id="saveSpu">
        insert into kz_spu(id,title,sub_title,cid1,cid2,cid3,brand_id,create_time,last_update_time,update_name,images,image,shop_id)
        values (#{id},#{title},#{subTitle},#{cid1},#{cid2},#{cid3},#{brandId},NOW(),NOW(),#{updateName},#{images},#{image},#{shopId})
    </insert>

    <update id="updateSpu" parameterType="org.kunze.diansh.entity.Spu">
        update kz_spu
        <trim prefix="set" suffixOverrides=",">
            <if test="title != null and title != ''">title=#{title},</if>
            <if test="subTitle != null and subTitle != ''">sub_title=#{subTitle},</if>
            <if test="cid1 != null and cid1 != ''">cid1=#{cid1},</if>
            <if test="cid2 != null and cid2 != ''">cid2=#{cid2},</if>
            <if test="cid3 != null and cid3 != ''">cid3=#{cid3},</if>
            <if test="brandId != null and brandId != ''">brand_id=#{brandId},</if>
            <if test="isFlag != null and isFlag != ''">is_flag=#{isFlag},</if>
            <if test="lastUpdateTime != null and lastUpdateTime != ''">last_update_time=NOW(),</if>
            <if test="updateName != null and updateName != ''">update_name=#{updateName},</if>
            <if test="images != null and images != ''">images=#{images},</if>
            <if test="image != null and images != ''">image=#{image},</if>
            <if test="shopId != null and shopId != ''">shop_id=#{shopId},</if>
        </trim>
        where id=#{id}
    </update>

    <delete id="deleteSpu" parameterType="org.kunze.diansh.entity.Spu">
        update kz_spu set is_flag = 1,last_update_time=NOW(),update_name = #{userName} where id in
        <foreach collection="spuList" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <select id="querySpuById" resultType="org.kunze.diansh.entity.modelData.SpuModel">
        select spu.id as id,spu.title as title,spu.sub_title as subTitle,spu.image as image,min(sku.price) as price,stock
        from kz_spu spu left join kz_sku sku on spu.id = sku.spu_id
        LEFT JOIN kz_stock stock ON sku.id = stock.sku_id
        where
        <if test="isFlag == 0">
            spu.cid2 = #{cateId}
        </if>
        <if test="isFlag == 1">
            spu.cid3 = #{cateId}
        </if>
        AND spu.shop_id = #{shopId}
        AND SPU.SALEABLE = '1'
        AND spu.is_flag = '0'
        group by spu.id
    </select>


    <select id="querySpuByIds" resultType="org.kunze.diansh.entity.Spu">
        select id,create_time from kz_spu where id=#{spuId}
    </select>


    <select id="selectByPrimaryKey" resultType="org.kunze.diansh.entity.modelData.SpuDetailModel">
            select id as 'spuId',title,sub_title,cid3,description,specifications,spec_template,packing_list,after_service,images,shop_id from kz_spu s
            LEFT JOIN kz_spu_detail detail ON s.id = detail.spu_id
            where s.id = #{spuId}
    </select>

    <select id="selectCid3SpuByIds" resultType="String">
        select id from kz_spu WHERE      shop_id = #{shopId}
        <choose>
            <when test="spuId != null and spuId != ''">
                and  cid3 = #{ci3}
                and id &lt;&gt; #{spuId}
            </when>
            <otherwise>
                and cid1 = #{ci3}
            </otherwise>
        </choose>
        and is_flag = '0' and saleable = '1'
    </select>

    <select id="selectSimilarSpu" resultType="org.kunze.diansh.controller.vo.BeSimilarSpuVo">
        select sku.id as 'skuId',spu.id as 'spuId',spu.title as 'spuTitle',spu.image as 'image',
        sku.new_price as 'spuNewPrice',sku.price as 'spuPrice' from kz_spu spu
        LEFT JOIN kz_sku sku ON spu.id = sku.spu_id
        where spu.id in
        <foreach collection="spuList" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        GROUP BY spu.id
        ORDER BY new_price
    </select>

    <select id="selectSpuTitleLike" resultType="org.kunze.diansh.controller.vo.BeSimilarSpuVo">
        select sku.id as 'skuId',spu.id as 'spuId',spu.title as 'spuTitle',spu.image as 'image',
        sku.new_price as 'spuNewPrice',sku.price as 'spuPrice' from kz_spu spu
        LEFT JOIN kz_sku sku ON spu.id = sku.spu_id
		where spu.title LIKE CONCAT('%',#{key},'%') and spu.shop_id = #{shopId}
		GROUP BY spu.id
        ORDER BY sku.new_price,sku.price
    </select>

    <update id="updateSpuSaleable" parameterType="java.lang.String">
        UPDATE KZ_SPU SPU SET SPU.SALEABLE = #{saleable} WHERE SPU.SHOP_ID = #{shopId} AND SPU.ID IN
        <foreach collection="spuList" item="item" index="index" open="(" close=")" separator=",">
              #{item}
        </foreach>
    </update>
</mapper>


