<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kunze.diansh.mapper.StockMapper">

    <insert id="saveStock">
        insert into kz_stock(sku_id,stock)
        values
        <foreach collection="stocks" item="item" separator=",">
            (#{item.skuId},#{item.stock})
        </foreach>
    </insert>

    <update id="updateStock">
        update kz_stock
        <trim prefix="set" suffixOverrides=",">
            <foreach collection="StockList" item="stock" separator=",">
                <if test="stock.seckillStock != null and stock.seckillStock != ''">seckill_stock=#{stock.seckillStock},</if>
                <if test="stock.seckillTotal != null and stock.seckillTotal != ''">seckill_total=#{stock.seckillTotal},</if>
                <if test="stock.stock != null and stock.stock != ''">stock=CONVERT(#{stock.stock},SIGNED),</if>
            </foreach>
        </trim>
        where sku_id in
        <foreach collection="StockList" item="stock" index="index" open="(" close=")" separator=",">
            #{stock.skuId}
        </foreach>
    </update>

    <!--查询库存数量 使用悲观锁-->
    <select id="selectStockLock" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT STOCK FROM KZ_STOCK WHERE SKU_ID = #{skuId} FOR UPDATE
    </select>

    <!-- 减库存 -->
    <update id="updateStockNum">
        UPDATE KZ_STOCK SET STOCK = STOCK-#{skuNum} WHERE SKU_ID = #{skuId}
    </update>
</mapper>