<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kunze.diansh.mapper.StockMapper">

    <insert id="saveStock">
        insert into kz_stock(sku_id,stock)
        values
        <foreach collection="stocks" item="item" separator=",">
            (#{item.skuId},#{item.stock})
        </foreach>
    </insert>

    <update id="updateStock">
        <foreach collection="StockList" item="stock" index="index" separator=";">
            update kz_stock
            <set>
                <if test="stock.seckillStock != null and stock.seckillStock != ''">seckill_stock=#{stock.seckillStock},</if>
                <if test="stock.seckillTotal != null and stock.seckillTotal != ''">seckill_total=#{stock.seckillTotal},</if>
                <if test="stock.stock != null and stock.stock != ''">stock=CONVERT(#{stock.stock},SIGNED)</if>
            </set>
            where sku_id = #{stock.skuId}
        </foreach>
    </update>

    <!--查询库存数量-->
    <select id="selectStockLock" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT STOCK FROM KZ_STOCK WHERE SKU_ID = #{skuId}
    </select>

    <!-- 减库存 -->
    <update id="updateStockNum">
        UPDATE KZ_STOCK SET STOCK = STOCK-#{skuNum} WHERE SKU_ID = #{skuId}
    </update>

    <select id="selectStock" resultType="Map">
        SELECT sku.id,sku.images,spu.title,sku.own_spec as 'ownSpec',stock.stock,IFNULL(sku.new_price,'0') as 'newPrice',sku.price,saleable  FROM kz_spu spu
        LEFT JOIN kz_sku sku ON spu.id = sku.spu_id
        LEFT JOIN kz_stock stock ON sku.id = stock.sku_id
        <trim prefix="where" prefixOverrides="and">
            stock.stock &lt;= 10  AND spu.shop_id = #{shopId} and sku.`enable` = '1'
            <if test="title != null and title != ''">
               and title like CONCAT('%',#{title},'%')
            </if>
            <if test="enable != null and enable != ''">
                and saleable = #{enable}
            </if>
        </trim>
    </select>

    <update id="updateStockJia">
        update kz_stock
        <trim prefix="set" suffixOverrides=",">
            <if test="stock.stock!=null and stock.stock!=''">
                stock = stock+#{stockNum},
            </if>
            <if test="stock.seckillStock!=null and stock.seckillStock!=''">
                seckill_stock = #{stock.seckillStock},
            </if>
            <if test="stock.seckillTotal!=null and stock.seckillTotal!=''">
                seckill_total = #{stock.seckillTotal},
            </if>
        </trim>
        where sku_id = #{stock.skuId}
    </update>

    <select id="queryStockNot" resultType="int">
        select count(1) from kz_stock where sku_id = #{skuId}
    </select>
</mapper>