<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kunze.diansh.mapper.WheelMapper">
    <!--添加轮播图-->
    <insert id="saveWheel">
        INSERT INTO kz_wheel (
            wheel_id,
            wheel_images,
            create_time,
            update_time,
            update_name,
            is_flag,
            wheel_no,
            wheel_port,
            wheel_url,
            wheel_name,
            wheel_isflag,
            shop_id
        )
        VALUES (
            #{wheelId},
            #{wheelImages},
            NOW(),
            NOW(),
            #{updateName},
            #{isFlag},
            #{wheelNo},
            #{wheelPort},
            #{wheelUrl},
            #{wheelName},
            #{wheelIsflag},
            #{shopId}
        )
    </insert>

    <!--首页查询轮播图-->
    <select id="listWheel" resultType="org.kunze.diansh.pojo.domain.wheel.WheelDO">
        SELECT
            wheel_id,
            wheel_images,
            wheel_no,
            wheel_url,
            wheel_name,
            wheel_isflag,
            t2.shop_name
        FROM
        kz_wheel t1
        LEFT JOIN kz_shop t2 ON t1.shop_id = t2.id
        <trim prefix="where" prefixOverrides="and">
            <if test="shopId != null and shopId !='' ">
                and shop_id = #{shopId}
            </if>
            <if test="isFlag != null and isFlag != ''">
                and t1.is_flag = #{isFlag}
            </if>
            <if test="wheelPort != null and wheelPort != ''">
                and wheel_port = #{wheelPort}
            </if>
            <if test="wheelName != null and wheelName != ''">
                and wheel_name like CONCAT('%',#{wheelName},'%')
            </if>
        </trim>
        order by wheel_no,t1.update_time desc,t1.create_time desc
    </select>

    <!--修改轮播图-->
    <update id="updateWheel">
        update kz_wheel
        <trim prefix="SET" suffixOverrides=",">
            update_time = NOW(),
            <if test="wheelImages != null and wheelImages != ''">
                wheel_images = #{wheelImages},
            </if>
            <if test="isFlag != null and isFlag != ''">
                is_flag = #{isFlag},
            </if>
            <if test="wheelName != null and wheelName != ''">
                wheel_name = #{wheelName},
            </if>
            <if test="updateName != null and updateName != '' ">
                update_name = #{updateName},
            </if>
            <if test="wheelNo != null and wheelNo != '' ">
                wheel_no = #{wheelNo},
            </if>
            <if test="wheelUrl != null and wheelUrl != '' ">
                wheel_url = #{wheelUrl},
            </if>
            <if test="wheelIsflag != null and wheelIsflag != ''">
                wheel_isflag = #{wheelIsflag},
            </if>
            <if test="shopId != null and shopId != ''">
                shop_id = #{shopId},
            </if>
        </trim>
        where wheel_id = #{wheelId}
    </update>

    <!--删除轮播图-->
    <delete id="batchDeleteWheel">
        DELETE
        FROM
            kz_wheel
        WHERE
            wheel_id IN
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <!--轮播图是否启动-->
    <update id="updateIsFlag">
        update kz_wheel
        <trim prefix="set" suffixOverrides=",">
            <if test="status != null and status != ''">
                is_flag = #{status},
            </if>
            <if test="updateName != null and updateName != '' ">
                update_name = #{updateName},
            </if>
            update_time = NOW()
        </trim>
        where wheel_id in
        <foreach collection="wheelIdList" item="wheelId" open="(" close=")" separator=",">
            #{wheelId}
        </foreach>
    </update>

    <!--后台管理系统查询轮播图列表-->
    <select id="listWheelBackstage" resultType="org.kunze.diansh.pojo.domain.wheel.WheelDO">
        SELECT
            wheel_id,
            wheel_images,
            wheel_no,
            wheel_url,
            wheel_name,
            wheel_port,
            wheel_isflag,
            t2.shop_name,
            t1.create_time,
            t1.update_time,
            t1.update_name,
            t1.is_flag
        FROM
        kz_wheel t1
        LEFT JOIN kz_shop t2 ON t1.wheel_id = t2.id
        <trim prefix="where" prefixOverrides="and">
            <if test="shopId != null and shopId !='' ">
                and shop_id = #{shopId}
            </if>
            <if test="isFlag != null and isFlag != ''">
                and t1.is_flag = #{isFlag}
            </if>
            <if test="wheelPort != null and wheelPort != ''">
                and wheel_port = #{wheelPort}
            </if>
            <if test="wheelName != null and wheelName != ''">
                and wheel_name like CONCAT('%',#{wheelName},'%')
            </if>
            <if test="wheelIsflag != null and wheelIsflag != ''">
                and wheel_isflag = #{wheelIsflag}
            </if>
            <if test="shopName != null and shopName != ''">
                and shop_name LIKE  CONCAT('%',#{shopName},'%')
            </if>
        </trim>
        order by wheel_no,t1.update_time desc,t1.create_time desc
    </select>

    <!--获取轮播图数据列表-->
    <select id="queryImages" resultType="String">
        SELECT
            wheel_images
        FROM
            kz_wheel
        WHERE
	wheel_id = #{id};
    </select>

    <!--获取超市id数据列表-->
    <select id="listShopId" resultType="java.lang.String">
        SELECT
            shop_id AS 'shopId'
        FROM
            kz_wheel
        WHERE
            wheel_id = #{id};
    </select>
</mapper>