<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.message.mapper.SysUserShopMapper">

        <update id="updateOnline">
            update sys_user_shop set is_online = #{status}
            where user_id = #{userId}
        </update>

    <select id="selectByIds" resultType="String">
        SELECT user_id FROM sys_user_shop WHERE is_online = '1' and `status` = '2'
        and shop_id = #{shopId}
    </select>

    <insert id="saveSysUserShop">
        insert sys_user_shop(id,shop_id,user_id,status)
        values (#{id},#{shopId},#{userId},#{status})
    </insert>

    <update id="updateSysUserShop">
        update sys_user_shop
        <trim prefix="set" suffixOverrides=",">
            <if test="shopId != null and shopId != '' ">
                shop_id = #{shopId},
            </if>
            <if test="status != null and status != ''">
                status = #{status}
            </if>
        </trim>
        where user_id = #{userId}
    </update>

    <delete id="delSysUserShop">
        delete from sys_user_shop
        where user_id = #{userId}
    </delete>
    <select id="selectByUserId" resultType="String">
        select shop_id from sys_user_shop
        where user_id = #{userId}
    </select>
</mapper>